html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/public/assets/image.png');
  background-size: cover;
  background-position: center;
  font-family: 'Courier New', monospace;
  color: white;
}

.desktop {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  position: relative;
}

.terminal-icon,.icon {
  width: 64px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 9px;
  text-decoration: none;
}

.firefox-icon{
  margin-top: 5px;
}

.terminal-icon-box,.resume-icon-box {
  width: 64px;
  height: 64px;
  background-color: #333;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 5px;
}

.terminal-icon-box > img{
  height: 100%;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

.firefox-icon-box > img{
  width: 64px;
  border-radius: 8px;
  background-color: transparent;
}

.resume-icon-box {
  /* height: 100%;
  border-radius: 8px; */
  background-color: transparent;
}

.terminal-window {
  width: 500px;
  height: 300px;
  background-color: black;
  color: #00ff00;
  position: absolute;
  top: 80px;
  left: 80px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.terminal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: white;
}

.icon {
  width: 64px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.icon-label {
  margin-top: 3px;
  font-size: 14px;
}

